{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container login bg-image">
    <div class="row">
        <div class="login-wraper" style="width: 100%">
            <div class="hidden-xs">
                <!-- <img src="images/login.jpg" alt=""> -->
            </div>
            <div class="banner-text hidden-xs">
                <div class="line"></div>
                <div class="b-text">
                    Des <span class="color-active">centaines<br> </span> <span class="color-b1">d'articles vous
                </span>attendent
                </div>
                <div class="overtext">
                    Plus de 15 articles ajoutés quotidiennement
                </div>
            </div>
            <div class="login-window">
                <div class="l-head">
                    Connexion
                </div>
                <div class="l-form">
                    <form action="" method="post">
                        {% if error is not null %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endif %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email"
                                   placeholder="sample@gmail.com">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mot de passe</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                   name="password" placeholder="**********">
                        </div>
                        <div class="checkbox">
                            <label>
                                <label class="checkbox">
                                    <input type="checkbox" name="#">
                                    <span class="arrow"></span>
                                </label> <span>Se souvenir de moi</span>
                                <span class="text2">(non recommandé si vous êtes sur un ordinateur partagé)</span>
                            </label>
                        </div>
                      
                        <div class="row ">
                            <div class="col-lg-7">
                                <button type="submit" name="submit" class="btn btn-cv1">Connexion</button>
                            </div>
                            <div class="col-lg-1 ortext">Ou</div>
                            <div class="col-lg-4">
                                <a class="btn btn-cv1" href="/register">Inscription</a>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-lg-12 forgottext">
                                <a href="#">Mot de passe oublié ?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
